body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    overflow: hidden;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

.overlay {
    background: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.title {
    font-size: 38px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}